.nav-bar{
    display: flex;
    flex-direction: row;
    margin: 3vh 5vw;
    flex-wrap: wrap;
}

.nav {
    display: flex;
    flex-grow: 1;
    background-color: black;
}

.options{
    text-align: center;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}


.options > li {
    list-style-type:none;
    font-size: calc(15px + 0.3vw);
    min-width: 10vw;
}

.options > li  {
    text-decoration: none;
    color: whitesmoke;
}

.options > li > a {
    text-decoration: inherit;
    color: inherit;
}